
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-2 {
    margin-top: 20px;
}

.ruby  {display: ruby;}

.jcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
display: none;
}

.show {
display: block;
}

.line {
    display: flex;
    flex-direction: row;
}

body {
    background-color: aliceblue;
}

.grid {
    min-width: 100%;
}

.rotate {
    transform: rotateY(180deg);
    margin-right: 5px;
}

.square {
    border: 2px solid black;
    height: 36px;
    width: 38px;
}



#game i {
    padding: 4px 6px 4px 4px;
    font-size: 24px;
}


.yellow {
    background-color: yellow;
}


/* Mobil M 375  */
@media screen and (min-width: 375px) {
    
    .square {
    height: 43px;
    width: 45px;
    }

    #game i {
    padding: 4px 6px 4px 4px;
    font-size: 28px;
    }

}

/* Mobile L  */
@media screen and (min-width: 425px) {
    
    .square {
    height: 49px;
    width: 51px;
    }

    #game i {
    padding: 4px 6px 4px 4px;
    font-size: 33px;
    }
}



/* Large Screen or landscape phones */
@media screen and (min-width: 576px) {
    .square {
    height: 55px;
    width: 55px;
    }
    #game i {
    padding: 4px 6px 4px 4px;
    font-size: 38px;
    }
}

/* Tablets and larger */
@media screen and (min-width: 768px) {
    .square {
    height: 90px;
    width: 90px;
    }
    #game i {
    padding: 4px 6px 4px 4px;
    font-size: 56px;
    }
}

/* Laptops and Desktops */
@media screen and (min-width: 992px) {
    .square {
    height: 110px;
    width: 110px;
    }
    #game i {
    padding: 6px 6px 6px 6px;
    font-size: 68px;
    }
}

/* Large Desktops, Tv screens & Projectors */
@media screen and (min-width: 1200px) {
    .square {
    height: 110px;
    width: 110px;
    }
    #game i {
    padding: 6px 6px 6px 6px;
    font-size: 84px;
    }
}